go 1.25

use (
	./algorithms/math/go
	./concepts/concurrency/go
	./containerization/docker-compose/development
	./containerization/docker-compose/production
	./containerization/docker/basic
	./containerization/docker/development
	./containerization/docker/multi-stage
	./containerization/docker/production
	./cookbook/datetime/go
	./cookbook/sequence-manipulation/go
	./crypto/hashing/go
	./infrastructure/terraform
	./infrastructure/terraform/aws/basics/ecr-repository/cmd/app
)
